{% extends "base.html" %}

{% block content %}


<main class = "container py-5">
    <section class = "card card-body">
    <h1 class ="display-3 text-center" > Task Management app </h1>
    <p class = "font-weight-normal text-center"> CRUD app using Django for tasks management</p>
    <div class = "container text-center">
        <a class="btn btn-primary" href="/signin/">Signin</a>
        <a class="btn btn-primary" href="/signup/">Signup</a>
    </div>
    </section>

</main>
{% endblock %}

